In [8]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

user = "root"
password = "mydango0707!"   # 특수문자 그대로 OK
host = "localhost"
database = "finance"             # 이미 만든 DB 이름

url = URL.create(
    "mysql+pymysql",
    username=user,
    password=password,
    host=host,
    port=3306,
    database=database,
)

engine = create_engine(url, connect_args={"local_infile": 1}, pool_pre_ping=True)

In [11]:
import os
print(os.getcwd())

from pathlib import Path 
Base = Path("./NeoMatrixAI")

# CSV 읽기
df = pd.read_csv(Base/"df_sample.csv")
print(df.head())
df.to_sql(
    name="df_sample",
    con=engine,
    schema="finance",
    if_exists="replace",
    index=False
)

c:\Users\User\.vscode\analysis-practice\KAIST_25fall\advanced financial quant
              datetime   BTCUSDT  ETHUSDT  XRPUSDT  BCHUSDT  LTCUSDT  ADAUSDT  \
0  2025-06-24 00:00:00  101611.8  2272.55   2.0179   448.66    81.58   0.5471
1  2025-06-24 00:01:00  101750.0  2278.25   2.0213   449.19    81.68   0.5479
2  2025-06-24 00:02:00  101764.3  2279.07   2.0213   449.60    81.75   0.5481
3  2025-06-24 00:03:00  101900.9  2282.18   2.0238   450.06    81.93   0.5495
4  2025-06-24 00:04:00  101895.0  2281.94   2.0241   450.42    81.90   0.5498

   ETCUSDT  TRXUSDT  DOTUSDT  DOGEUSDT
0   15.524  0.27148    3.246   0.15363
1   15.528  0.27149    3.253   0.15400
2   15.548  0.27172    3.254   0.15401
3   15.556  0.27169    3.260   0.15441
4   15.581  0.27170    3.262   0.15451

4320

In [12]:
with engine.connect() as conn:
    print(conn.exec_driver_sql("SELECT DATABASE()").fetchone())
    print(conn.exec_driver_sql("SHOW TABLES IN finance").fetchall())
    print(conn.exec_driver_sql("SELECT COUNT(*) FROM finance.df_sample").fetchone())

('finance',)
[('df_sample',), ('finance',)]
(4320,)